.logo {
    height: 75px;
    width: 75px;
    background-color: darkgray;
    border-radius: 50%;
    background-image: url(https://jegelskerdeg98.wordpress.com/wp-content/uploads/2025/11/0a6facc5-f80b-4692-a032-f18d93916297.jpg?w=1440);
    background-size: cover;

}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}